.todo {
  background-color: var(--surface-100);
  transition: all 0.3s ease;
}

.todo h2 {
  font-weight: 100;
}

.scale {
  transition: all 0.3s ease;
}

.scale:hover {
  transform: scale(1.3);
}

.scale:active {
  transform: scale(0.8);
}
